* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header, .footer {
    min-height: 50px;
    background-color: #000;
}

.header-and-main-block {
    flex: 1;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.ass__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.ass__img {
    width: 400px;
    display: block;
    padding: 20px;
}