* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* html, body, .wrapper {
    width: 100%;
} */
.header, .footer {
    min-height: 50px;
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-and-main-block {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(66, 20, 20);
    padding: 1rem;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main .container {
    flex: 1;
}

.hero {
    width: 95%;
    margin: 0 auto;
}

.hero__picture {
    background-color: bisque;
    /* object-fit: contain; */
    width: 50%;
    margin: 0 auto;
}

.hero__img {
    max-width: 100%;
    display: block;
}

/* ROW */

.ass__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    jus
}

.ass__cell {
    width: 400px;
}

.ass__cell:nth-child(1) {
    order: -20
}

.ass__cell:nth-child(5) {
    order: -10;
}

.ass__img {
    /* width: 400px; */
    display: block;
    padding: 20px;
    width: 100%
}